a {
  text-decoration: none !important;
  color: #ff4341;
  &:hover {
    color: darken(#ff4341, 20%);
  }
}

.pointer {
  cursor: pointer;
}

.btn-inline {
  display: inline-block !important;
}

.btn-center {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

.btn-red {
  background: #ff4341 !important;
  color: #fff !important;
  border-color: #ff4341 !important;
}

.btn-min-height {
  min-height: 42px !important;
}

.btn {
  background: #ff4341;
  color: #fff !important;
  border: 1px solid #ff4341;
  width: auto;
  max-width: 191px;
  max-height: none;
  padding: 12px 18px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  text-transform: uppercase;
  line-height: normal;
  font-size: 16px !important;
  line-height: 15px;
  text-decoration: none !important;
  font-weight: 600;
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  transition: all .15s ease;

  &:hover {
    background: darken(#ff4341, 20%) !important;
    border-color: darken(#ff4341, 20%) !important;
    color: #fff !important;
  }
  &:active {
    box-shadow: 0 0 0 5px lighten(#ff4341, 25%) !important;
  }
  &:focus {
    outline: -webkit-focus-ring-color auto 5px !important;
  }

  &.btn-xs {
    padding: 6px 8px;
    font-size: 14px !important;
  }
  &.btn-sm {
    padding: 6px 12px;
    font-size: 16px !important;
  }
  &.btn-md {
    padding: 8px 16px;
    font-size: 18px !important;
  }
  &.btn-rounded-corners {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  &.btn-fluid {
    width: 100%;
    max-width: 100%;
  }

  &.btn-inverse {
    background: transparent !important;
    color: #ff4341 !important;

    &:active,
    &:hover,
    &:focus {
      background: #ff4341 !important;
      color: #fff !important;
    }
  }

  &.btn-pull-left {
    float: left;
  }
  &.btn-pull-right {
    float: right;
  }
}

.btn.btn-light {
  color: #333 !important;
  background: #fff;
  border-color: #333;

  &:hover {
    background: rgba(0, 0, 0, 0.07) !important;
  }
  &.btn-inverse {
    &:active,
    &:hover,
    &:focus {
      background: #333 !important;
      color: #fff !important;
      border-color: #333 !important;
    }
  }
}

.btn.btn-black {
  color: #fff !important;
  background: #000;
  border-color: #000;

  &:hover {
    background: #eb3531 !important;
    color: #fff !important;
    border-color: #eb3531 !important;
  }
}

.btn-grey {
  background: #777 !important;
}
