{{#if banners.bottom}}
<div class="banners" data-banner-location="bottom">
    <div class="banner">
        {{{limit banners.bottom 1}}}
    </div>
</div>
{{/if}}

{{> components/common/newsletter-subscription}}

<footer class="footer" role="contentinfo">
    <div class="container">
        <section class="footer-info">
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">
                    Support
                    <i class="fa fa-plus" data-toggle="support"></i>
                    <i class="fa fa-minus" data-toggle="support"></i>
                </h5>
                <ul class="footer-info-list" data-toggled-by="support">
                    <li>
                        <a href="/contact-us">Contact Us</a>
                    </li>
                    <li>
                        <a href="/order-faqs/">Order FAQ</a>
                    </li>
                    <li>
                        <a href="/warranty">Warranty</a>
                    </li>
                    <li>
                        <a href="/shipping-handling">Shipping and Handling</a>
                    </li>
                    <li>
                        <a href="/login.php">Access Your Account</a>
                    </li>
                    <li>
                        <a href="/login.php?action=reset_password">Forgot Password</a>
                    </li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
                <h5 class="footer-info-heading">
                    Company Info
                    <i class="fa fa-plus" data-toggle="company-info"></i>
                    <i class="fa fa-minus" data-toggle="company-info"></i>
                </h5>
                <ul class="footer-info-list" data-toggled-by="company-info">
                    <li>
                        <a href="/about-mad-dogg-athletics">About Mad Dogg Athletics</a>
                    </li>
                    <li>
                        <a href="/legal-trademark">Legal and Trademark</a>
                    </li>
                    <li>
                        <a href="/privacy-policy/">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/newsletter">Newsletter</a>
                    </li>
                    <li>
                        <a href="/content/EP%20International%20Website%20Inquiry.pdf" target="_blank">Partnership Opportunities</a>
                    </li>
                    <li>
                        <a href="/sitemap.php">Sitemap</a>
                    </li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
                <h5 class="footer-info-heading">
                    Brands
                    <i class="fa fa-plus" data-toggle="brands"></i>
                    <i class="fa fa-minus" data-toggle="brands"></i>
                </h5>
                <ul class="footer-info-list" data-toggled-by="brands">
                    <li>
                        <a href="https://spinning.com" target="_blank">Spinning</a>
                    </li>
                    <li>
                        <a href="https://peakpilates.com/" target="_blank">Peak Pilates</a>
                    </li>
                    <li>
                        <a href="https://crosscore.com/" target="_blank">CrossCore</a>
                    </li>
                    <li>
                        <a href="https://peakpilates.com/accessories/functional-training-equipment/ugi/" target="_blank">Ugi</a>
                    </li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
                <h5 class="footer-info-heading">
                    Shop
                    <i class="fa fa-plus" data-toggle="shop"></i>
                    <i class="fa fa-minus" data-toggle="shop"></i>
                </h5>
                <ul class="footer-info-list" data-toggled-by="shop">
                    <li>
                        <a href="/spin-bikes/">Home Bikes</a>
                    </li>
                    <li>
                        <a href="/commercial-spin-bikes">Commercial Bikes</a>
                    </li>
                    <li>
                        <a href="/cycling-clothing/womens">Women's Apparel</a>
                    </li>
                    <li>
                        <a href="/cycling-clothing/mens">Men's Apparel</a>
                    </li>
                    <li>
                        <a href="/giftcertificates.php">Gift Certificates</a>
                    </li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
                <h5 class="footer-info-heading">
                    Education
                    <i class="fa fa-plus" data-toggle="education"></i>
                    <i class="fa fa-minus" data-toggle="education"></i>
                </h5>
                <ul class="footer-info-list" data-toggled-by="education">
                    <li>
                        <a href="/find-a-class">Find a Class</a>
                    </li>
                    <li>
                        <a href="/training/">Find Local Workshops</a>
                    </li>
                    <li>
                        <a href="/instructors">Become an Instructor</a>
                    </li>
                    <li>
                        <a href="/instructors/education/certification-renewal/">Certification Renewal</a>
                    </li>
                    <li>
                        <a href="/instructors/continuing-education/">Spinning Continuing Ed</a>
                    </li>
                    <li>
                        <a href="/instructors/international-trainings">International Training</a>
                    </li>
                    <li>
                        <a href="http://spinu.spinning.com/account/login/">SpinU</a>
                    </li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
                <h5 class="footer-info-heading">
                    About Us
                    <i class="fa fa-plus" data-toggle="about-us"></i>
                    <i class="fa fa-minus" data-toggle="about-us"></i>
                </h5>
                <ul class="footer-info-list" data-toggled-by="about-us">
                    <li>
                        <a href="/about-spinning">About Spinning</a>
                    </li>
                    <li>
                        <a href="/spinning-history">Spinning History</a>
                    </li>
                    <li>
                        <a href="/press">Press</a>
                    </li>
                </ul>
            </article>
        </section>

        <div class="footer-copyright">
            <p>Copyright <script>document.write(new Date().getFullYear())</script>
 MAD DOGG ATHLETICS&reg;. ALL RIGHTS RESERVED. SPIN&reg;, SPINNER&reg;, SPINNING&reg;, SPIN FITNESS&reg;, SPINPOWER&reg;, THE SPINNING LOGO&reg;, PEAK PILATES&reg;, CROSSCORE&reg;, RESIST-A-BALL&reg; AND UGI&reg;, ARE REGISTERED TRADEMARKS OWNED BY MAD DOGG ATHLETICS, INC. </p>
        </div>
    </div>
</footer>
