<nav class="navPages">
    <ul class="navPages-list">
        <li class="navPages-item has-child-menu">
            <span class="navPages-action">
                Shop
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </span>
            <div class="second-level">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="navPages-list--lvl2">
                                <li>
                                    <div class="row">
                                        <!-- COLUMN 1 -->
                                        <div class="col-lg-2">
                                            <div class="navpages-section">
                                                <a href="/spin-bikes/" class="navPages-item--lvl2-title has-menu mobile-hidden">Bikes</a>
                                                <ul>
                                                    <li>
                                                        <a href="/spin-bikes/" class="navPages-item--lvl2-link">Home Bikes</a>
                                                        <ul class="navPages-item--lvl3 mobile-hidden">
                                                            <li>
                                                                <a href="/spin-bikes/lifestyle-series/" class="navPages-item--lvl3-link">Lifestyle Series</a>
                                                            </li>
                                                            <li>
                                                                <a href="/spin-bikes/active-series/" class="navPages-item--lvl3-link">Active Series</a>
                                                            </li>
                                                            <li>
                                                                <a href="/spin-bikes/performance-series/" class="navPages-item--lvl3-link">Performance Series</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="/commercial-spin-bikes/" class="navPages-item--lvl2-link">Commercial Bikes</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            
                                            <div class="navpages-section">
                                                <a href="/cycling-accessories-parts/" class="navPages-item--lvl2-title has-menu">Parts &amp; Accessories</a>
                                                <ul>
                                                    <li>
                                                        <a href="/cycling-accessories-parts/bike-accessories/" class="navPages-item--lvl2-link mobile-hidden">Bike Accessories</a>
                                                    </li>
                                                    <li>
                                                        <a href="/cycling-accessories-parts/bike-pedals/" class="navPages-item--lvl2-link mobile-hidden">Bike Pedals &amp; Cleats</a>
                                                    </li>
                                                    <li>
                                                        <a href="/cycling-accessories-parts/bike-parts/" class="navPages-item--lvl2-link mobile-hidden">Bike Parts</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                        <!-- COLUMN 2 -->
                                        <div class="col-lg-2">
                                            <div class="navpages-section">
                                                <a href="/cycling-shoes" class="navPages-item--lvl2-title has-menu">Cycling Shoes</a>
                                                <ul>
                                                    <li>
                                                        <a href="/cycling-shoes/womens" class="navPages-item--lvl2-link mobile-hidden">Women's Cycling Shoes</a>
                                                    </li>
                                                    <li>
                                                        <a href="/cycling-shoes/mens" class="navPages-item--lvl2-link mobile-hidden">Men's Cycling Shoes</a>
                                                    </li>
                                                    <li>
                                                        <a href="/apparel/cycling-shoes/cycling-shoe-cleats/" class="navPages-item--lvl2-link mobile-hidden">Cleats</a>
                                                    </li>
                                                    <li>
                                                        <a href="/apparel/cycling-shoes/socks/" class="navPages-item--lvl2-link mobile-hidden">Socks</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="navpages-section">
                                                <a href="/fitness-trackers" class="navPages-item--lvl2-title has-menu mobile-hidden">Fitness Trackers &amp; Bike Computers</a>
                                                <ul>
                                                    <li>
                                                        <a href="/fitness-trackers/heart-rate-monitors" class="navPages-item--lvl2-link">Heart Rate Monitors</a>
                                                    </li>
                                                    <li>
                                                        <a href="/fitness-trackers/bike-computers" class="navPages-item--lvl2-link">Bike Computers</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                        <!-- COLUMN 3 -->
                                        <div class="col-lg-2">
                                            
                                            <div class="navpages-section">
                                                <a href="/cycling-clothing/mens" class="navPages-item--lvl2-title has-menu">Men's SPIN&reg; Clothes</a>
                                                <ul  class="navPages-item--lvl3 mobile-hidden">
                                                    <li><a href="/cycling-clothing/mens/cycling-bottoms/" class="navPages-item--lvl2-link">Cycling Shorts &amp; Bottoms</a></li>
                                                    <li><a href="/cycling-clothing/mens/cycling-jerseys-tops/" class="navPages-item--lvl2-link">Cycling Jerseys &amp; Tops</a></li>
                                                    <li><a href="/apparel/mens-spin-clothes/mens-team-kit/" class="navPages-item--lvl2-link">Men's Team Kit</a></li>
                                                    <li><a href="/cycling-clothing/mens/casual-wear/" class="navPages-item--lvl2-link">Casual Wear</a></li>
                                                    <li><a href="/cycling-accessories-parts/bike-accessories/" class="navPages-item--lvl2-link">Cycling Accessories</a></li>
                                                    <li><a href="/cycling-clothing/mens/cycling-socks/" class="navPages-item--lvl2-link">Cycling Socks</a></li>
                                                </ul>
                                            </div>
                                            
                                            <div class="navpages-section">
                                                <a href="/cycling-clothing/womens" class="navPages-item--lvl2-title has-menu">Women's SPIN&reg; Clothes</a>
                                                <ul  class="navPages-item--lvl3 mobile-hidden">
                                                    <li><a href="/cycling-clothing/womens/cycling-bottoms/"  class="navPages-item--lvl2-link">Cycling Shorts &amp; Bottoms</a></li>
                                                    <li><a href="/cycling-clothing/womens/cycling-jerseys-tops/"  class="navPages-item--lvl2-link">Cycling Jerseys &amp; Tops</a></li>
                                                    <li><a href="/apparel/womens-spin-clothes/womens-team-kit/"  class="navPages-item--lvl2-link">Women's Team Kit</a></li>
                                                    <li><a href="/cycling-clothing/womens/casual-wear/"  class="navPages-item--lvl2-link">Casual Wear</a></li>
                                                    <li><a href="/cycling-accessories-parts/bike-accessories/"  class="navPages-item--lvl2-link">Cycling Accessories</a></li>
                                                    <li><a href="/cycling-clothing/womens/cycling-socks/"  class="navPages-item--lvl2-link">Cycling Socks</a></li>
                                                </ul>
                                            </div>
                                            
                                        </div>

                                        <!-- Column 4 -->
                                        <div class="col-lg-2">
                                            <div class="navpages-section">
                                                <a href="/training-equipment/" class="navPages-item--lvl2-title has-menu">Training Equipment</a>
                                                <ul>
                                                    <li><a href="/training-equipment/crosscore" class="navPages-item--lvl2-link mobile-hidden">CrossCore&reg;</a></li>
                                                    
                                                    <li><a href="/training-equipment/medicine-balls/" class="navPages-item--lvl2-link mobile-hidden">Medicine Balls</a></li>
                                                    <li><a href="/training-equipment/" class="navPages-item--lvl2-link mobile-hidden">More…</a></li>
                                                </ul>
                                            </div>
                                            
                                            <div class="navpages-section">
                                                <a href="/music-dvds/" class="navPages-item--lvl2-title has-menu">Workout DVDs &amp; Music</a>
                                                <ul>
                                                    <li><a href="/music-dvds/workout-dvds/" class="navPages-item--lvl2-link mobile-hidden">Workout DVDs</a></li>
                                                    <li><a href="/music-dvds/music-cds/" class="navPages-item--lvl2-link mobile-hidden">Workout CDs</a></li>
                                                </ul>
                                                
                                                <a href="/clearance/" class="navPages-item--lvl2-title">Clearance</a>
                                                <a href="/clearance-sale/bikes-sale/" class="navPages-item--lvl2-title">Spinning&reg; Outlet</a>
                                            </div>
                                            
                                        </div>

                                        <!-- Column 5 -->
                                        <!-- Next Evolution 
                                        <div class="col-lg-4">
                                            <div class="featured-product">
                                                <a href="/spin-bikes/">
                                                	<img src="https://maddogg-assets.s3.amazonaws.com/d509b8dce81b25152feaf813bde7e1dca5163e0f9b779fb754d9865238de0a5d.jpg" style="width:80%;margin-left:auto;margin-right:auto;" />
                                                </a>
                                                <div style="margin-left: auto; margin-right: auto; width: 50%; min-width: 200px;">
                                                    <p>The Next Evolution of Spin® Bikes is Here</p>
                                                    {{>
                                                        components/common/cta-arrow
                                                        text='Shop Now'
                                                        text_color='#ff4341'
                                                        link='/spin-bikes/'
                                                    }}
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- Resolution promo -->
                                        <div class="col-lg-4">
                                            <div class="featured-product">
                                                <a href="/spin-bikes/lifestyle-series/">
                                                	<img src="https://cdn6.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/sp-1280x1280-l5.jpg" style="width:70%;margin-left:auto;margin-right:auto;" />
                                                </a>
                                                <div style="margin-left: auto; margin-right: auto; width: 50%; min-width: 200px;">
                                                    <p>Lifestyle series bikes</p>
                                                    {{>
                                                        components/common/cta-arrow
                                                        text='Learn More'
                                                        text_color='#ff4341'
                                                        link='/spin-bikes/lifestyle-series/'
                                                    }}
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!--
        <li class="navPages-item">
            <a href="/find-a-class" class="navPages-action">Find A Class</a>
        </li>
        -->
        <li class="navPages-item has-child-menu">
            <span class="navPages-action">
                Instructors
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </span>
            <div class="second-level">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 align-top">
                            <ul class="navPages-list--lvl2">
                                <li>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <a href="/instructors" class="navPages-item--lvl2-title has-menu"></br>Become an Instructor</a>
                                            <ul>
                                                <li>
                                                    <a href="/instructors/instructor-certifications/live-certification/" class="navPages-item--lvl2-link">Live Certification Training</a>
                                                </li>
                                                <li>
                                                    <a href="/instructors/instructor-certifications/online-certification/" class="navPages-item--lvl2-link">Online Certification Training</a>
                                                </li>
                                                <li>
                                                    <a href="/instructors-staging/instructor-certifications/bridge-online/" class="navPages-item--lvl2-link">Bridge Program</a>
                                                </li>
                                                <li>
                                                    <a href="/instructors/international-trainings" class="navPages-item--lvl2-link">International Trainings</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <a href="/instructors/continuing-education/" class="navPages-item--lvl2-title has-menu">Continuing Education and Recertification</a>
                                            <ul>
                                                <li>
                                                    <a href="/instructors/education/certification-renewal/" class="navPages-item--lvl2-link">Certification Renewal and Petitions</a>
                                                </li>
                                                <li>
                                                    <a href="/training/?onlinelearning=" class="navPages-item--lvl2-link">Online Continuing Education</a>
                                                </li>
                                                <li>
                                                    <a href="/instructors/education/workshops/" class="navPages-item--lvl2-link">Live CEC Workshops</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <a href="/instructors/instructor-advanced-certification/" class="navPages-item--lvl2-title has-menu">Advanced Instructor Certification</a>
                                            <ul>
                                                <li>
                                                    <a href="/instructors/instructor-certifications/spin-power-training/" class="navPages-item--lvl2-link">SPINPower&reg;</a>
                                                </li>
                                                <li>
                                                    <a href="/instructors/instructor-certifications/live-rockstar-training/" class="navPages-item--lvl2-link">Becoming a Rockstar Instructor</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <a href="/instructors" class="navPages-item--lvl2-title has-menu"></br>Community</a>
                                            <ul>
                                                <li>
                                                    <a href="/instructors/events" class="navPages-item--lvl2-link">Events</a>
                                                </li>
                                                 <li>
                                                    <a href="/about-spinning/spinning-videos" class="navPages-item--lvl2-link">Spinning&reg; Videos</a>
                                                </li>
                                                <li>
                                                    <a href="/instructors/spin-membership/" class="navPages-item--lvl2-link">SPIN&reg; Membership</a>
                                                </li>
                                                  <li>
                                                    <a href="http://spinu.spinning.com/account/login/" class="navPages-item--lvl2-link">SpinU</a>
                                                </li>
                                                {{!-- 
                                                <li>
                                                    <a href="/instructors/instructor-resources/" class="navPages-item--lvl2-link">Instructor Resources</a>
                                                </li>
                                                --}}
                                                <li>
                                                    <a href="/spinlife/tag/pro%20blog" class="navPages-item--lvl2-link">Instructor Blog</a>
                                                </li>
                                                <li>
                                                    <a href="/instructors/education/master-instructor-team/" class="navPages-item--lvl2-link">Master Instructor Team</a>
                                                </li>
                                                <li>
                                                    <a href="/instructors/international-education-distributors/" class="navPages-item--lvl2-link">International Education Distributors</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {{!-- 
                        <div class="col-lg-6 align-top">
                            <ul class="navPages-list--lvl2">
                                <li>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <a href="/instructors" class="navPages-item--lvl2-title has-menu">Instructors</a>
                                            <ul>
                                                <li>
                                                    <a href="/instructors/education" class="navPages-item--lvl2-link">Education</a>
                                                </li>
                                                <li>
                                                    <a href="/instructors/spin-membership/" class="navPages-item--lvl2-link">SPIN<sup>&reg;</sup> Membership</a>
                                                </li>
                                                
                                                <li>
                                                    <a href="/instructors/education/certification-renewal" class="navPages-item--lvl2-link">Certification Renewal</a>
                                                </li>
                                                <li>
                                                    <a href="http://spinlife.spinning.com/category/ascend-pro-blog/" class="navPages-item--lvl2-link">Instructor Blog</a>
                                                </li>
                                                <li>
                                                    <a href="/instructors/events" class="navPages-item--lvl2-link">Events</a>
                                                </li>
                                                <li>
                                                    <a href="/instructors/international-trainings" class="navPages-item--lvl2-link">International Training</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 align-top">
                            <ul class="navPages-list--lvl2">
                                <li>
                                    <div class="row">
                                        <div class="col-lg-6" id="featured-instructor-wrapper">
                                            <div class="featured-product">
                                                <a href="/instructors/instructor-certifications/live-certification/"><img src="https://cdn6.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/instructor-nav-min.jpg"></a>
                                                <p>Become an Instructor</p>
                                                {{>
                                                    components/common/cta-arrow
                                                    text='Learn How'
                                                    text_color='#ff4341'
                                                    link='/instructors/instructor-certifications/live-certification/'
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div> --}}
                    </div>
                </div>
            </div>
        </li>
        <li class="navPages-item has-child-menu">
            <span class="navPages-action">
                Studios
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </span>
            <div class="second-level">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 align-top">
                            <ul class="navPages-list--lvl2">
                                <li>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <a href="/spinning-studios" class="navPages-item--lvl2-title has-menu">Studios</a>
                                            <ul>
                                                <li>
                                                    <a href="/spin-studios/become-a-spinning-facility/" class="navPages-item--lvl2-link">Become a Facility</a>
                                                </li>
                                                <li>
                                                    <a href="/spin-studios/host-a-training" class="navPages-item--lvl2-link">Host a Training</a>
                                                </li>
                                                <li>
                                                    <a href="/spin-studios/spinner-bikes/" class="navPages-item--lvl2-link">Spinner Bikes</a>
                                                </li>
                                                <li>
                                                    <a href="/spin-studios/bike-maintenance/" class="navPages-item--lvl2-link">Bike Maintenance</a>
                                                </li>
                                                <li>
                                                    <a href="/spin-studios/facility-faq" class="navPages-item--lvl2-link">Facility FAQs</a>
                                                </li>
                                                 <li>
                                                    <a href="/instructors/education/job-board/" class="navPages-item--lvl2-link">Job Board</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6" id="featured-product-wrapper2">
                                            <div class="featured-product">
                                                <a href="/chronopower/"><img src="https://cdn6.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/chrono-side-view.jpg"></a>
                                                <p>Featured Spin&reg; Bike</p>
                                                {{>
                                                    components/common/cta-arrow
                                                    text='Shop Now'
                                                    text_color='#ff4341'
                                                    link='/chronopower/'
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 align-top">
                            <ul class="navPages-list--lvl2">
                                <li>
                                    <div class="row">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="navPages-item has-child-menu">
            <span class="navPages-action">
                Get Started
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </span>
            <div class="second-level">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="navPages-list--lvl2">
                                <li>
                                    <div class="row">
                                        <div class="col-lg-6">

                                            <a href="/getting-started/" class="navPages-item--lvl2-title">Getting Started</a>

                                            <a href="/training-tips/" class="navPages-item--lvl2-title">Training Tips</a>
                                            
                                            <a href="/about-spinning/spinning-videos" class="navPages-item--lvl2-title">Spinning&reg; Videos</a>

                                            <a href="/energy-zone-chart/" class="navPages-item--lvl2-title">Energy Zones&reg; Chart</a>

                                        </div>
                                        <div class="col-lg-6">
                                            <a href="/spinlife/" class="navPages-item--lvl2-title has-menu">#SpinLifeBlog</a>
                                            <ul>
                                                <li>
                                                    <a href="/spinlife/tag/training%20tips" class="navPages-item--lvl2-link">Training Tips</a>
                                                </li>
                                                <li>
                                                    <a href="/spinlife/tag/health" class="navPages-item--lvl2-link">Healthy Living</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="navPages-list--lvl2">
                                <li>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="featured-product">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        
        <li class="navPages-item has-child-menu">
            <span class="navPages-action">
                SPINtv&trade;
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </span>
            <div class="second-level">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-3" style="padding-bottom:10px;">
                            <a href="/spintv/" class="navPages-item--lvl2-title"><img src="https://cdn6.bigcommerce.com/s-nmzp0auf4w/product_images/uploaded_images/sp-main-spin-tvlogo-black-outline-tm-highres-vf.png" alt="SpinTV"></a>
                            Stream exclusive rides led by rockstar Master Spinning® instructors straight to your TV or mobile device for the ultimate home fitness experience: the power of the studio is now yours.
                            <a style="margin-top:15px;color:#fff!important;" class="btn btn-red btn-rounded-corners cta-button" href="/spintv/">Learn More</a>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-3">
                            <ul>
                                <li>
                                    <a style="mobile-hidden" href="https://tv.spinning.com" target="_blank">
                                        <img src="https://cdn8.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/progressive-hills-strength.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://tv.spinning.com" class="navPages-item--lvl2-title" target="_blank">Ride: Progressive Hills</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-3">
                            <ul>
                                <li>
                                    <a style="mobile-hidden" href="https://tv.spinning.com" target="_blank">
                                        <img src="https://cdn8.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/calorie-torching-speed.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://tv.spinning.com" target="_blank" class="navPages-item--lvl2-title">Ride: Calorie Torching</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-3">
                            <ul>
                                <li>
                                    <a style="mobile-hidden" href="https://tv.spinning.com" target="_blank">
                                        <img src="https://cdn8.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/maximum-efficiency-intervals-stamina.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://tv.spinning.com" target="_blank" class="navPages-item--lvl2-title">Ride: Maximum Efficiency Intervals</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        
        <li class="navPages-item mobile-only">
            <a href="/find-a-class" class="navPages-action">Find A Class</a>
        </li>
        <li class="navPages-item mobile-only">
            {{#if customer}}
                <a class="navPages-action" href="{{urls.account.index}}">{{lang 'common.account'}}</a>
                <a class="navPages-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
            {{else}}
                <a class="navPages-action" href="{{urls.auth.login}}">{{lang 'common.login'}}</a><a class="navPages-action" href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
            {{/if}}
        </li>
    </ul>
</nav>
