<section class="newsletter-subscription">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-6 social-section">
                <h5>Join the Community</h5>
                <a href="https://www.facebook.com/Spinning/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/SpinningHQ" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/spinninghq/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.youtube.com/spinning" target="_blank"><i class="fa fa-youtube-play"></i></a>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-6 subscribe-section">
                <p class="subscribe-section--title">Join our mailing list for exclusive updates and tips</p>

                <div class="subscribe-section--form" data-section-type="newsletterSubscription">
                    {{> components/common/subscription-form}}
                </div>
            </div>
        </div>
    </div>
</section>
