<div class="promotion-boxes">
    <a href="{{link1}}" class="promotion-box">
        <img src="{{cdn image1}}" class="promotion-box--image">
        <div class="promotion-box--inner">
            <div class="promotion-box--title">
                {{title1}}
            </div>
            <div class="promotion-box--btn btn btn-lg btn-rounded-corners">
                {{cta1}}
            </div>
        </div>
    </a>
    <a href="{{link2}}" class="promotion-box">
        <img src="{{cdn image2}}" class="promotion-box--image">
        <div class="promotion-box--inner">
            <div class="promotion-box--title">
                {{title2}}
            </div>
            <div class="promotion-box--btn btn btn-lg btn-rounded-corners">
                {{cta2}}
            </div>
        </div>
    </a>
</div>
