<div class="padded-content">
<h2>Share the Spinning&reg; Experience</h2>
<p>Our Spinning&reg; Instructors and Master Instructors are the heart and soul of Spinning. They deliver the Spinning experience day in and day out. We work hard every day to empower our instructors with the very best training, bikes, equipment, continuing education and ongoing support through our global SPIN&reg; membership program. Our mission is to empower our instructors to give their students the best indoor cycling experience on the planet!</p>
<div class="left-right-block">
<div class="pull-left content">
<h3><img class="__mce_add_custom__" title="instructor-badge-1.jpg" src="http://spinning10.mybigcommerce.com/product_images/uploaded_images/instructor-badge-1.jpg" alt="instructor-badge-1.jpg" width="43" height="43" />Become an Instructor</h3>
<p>Our drive to create great instructors starts with the Spinning Instructor Certification, a comprehensive workshop led by a Spinning Master Instructor that includes practical and theoretical concepts and teaches instructors everything they need to know to become dynamic indoor cycling leaders. Get certified and start improving lives!</p>
<a class="btn btn-red btn-rounded-corners cta-button" href="#">Learn More</a></div>
<div class="pull-right image">
<p><img class="__mce_add_custom__" title="instructor-image-1.jpg" src="http://spinning10.mybigcommerce.com/product_images/uploaded_images/instructor-image-1.jpg" alt="instructor-image-1.jpg" width="430" height="301" /></p>
</div>
</div>
<div class="left-right-block">
<div class="pull-left image"><img class="__mce_add_custom__" title="instructor-image-2.jpg" src="http://spinning10.mybigcommerce.com/product_images/uploaded_images/instructor-image-2.jpg" alt="instructor-image-2.jpg" width="430" height="301" /></div>
<div class="pull-right content">
<h3><img class="__mce_add_custom__" title="instructor-badge-2.jpg" src="http://spinning10.mybigcommerce.com/product_images/uploaded_images/instructor-badge-2.jpg" alt="instructor-badge-2.jpg" width="43" height="43" />SPINPower&reg; Program</h3>
<p>The SPINPower&reg; program is revolutionary, power-based training. Backed by an exclusive power-based training program from SPINPower&reg; Program Director and Power Specialist Master Instructor Angie Sturtevant, this is your opportunity to be a part of the next movement in indoor cycling.</p>
<a class="btn btn-red btn-rounded-corners cta-button" href="#">Learn More</a></div>
</div>
<div class="left-right-block">
<div class="pull-left content">
<h3><img class="__mce_add_custom__" title="instructor-badge-3.jpg" src="http://spinning10.mybigcommerce.com/product_images/uploaded_images/instructor-badge-3.jpg" alt="instructor-badge-3.jpg" width="43" height="43" />Certification Renewal</h3>
<p>Spinning&reg; instructors are passionate and committed to continual growth and learning. We are dedicated to keep developing and delivering a continuing education program that is the most comprehensive in the industry. Read the current list of new, cutting-edge Spinning continuing education workshops. Maintain your certification status with continuing education SPIN&reg; CECs. To renew your certification, you can complete an online recertification course and earn all the SPIN CECs you need.</p>
<a class="btn btn-red btn-rounded-corners cta-button" href="#">Learn More</a></div>
<div class="pull-right image"><img class="__mce_add_custom__" title="instructor-image-3.jpg" src="http://spinning10.mybigcommerce.com/product_images/uploaded_images/instructor-image-3.jpg" alt="instructor-image-3.jpg" width="430" height="301" /></div>
</div>
</div>
<div class="slider-container">
<ul class="slick-slider">
<li class="slick-slide">Slide 1</li>
<li class="slick-slide">Slide 2</li>
<li class="slick-slide">Slide 3</li>
</ul>
<div class="padded-content">
<div class="left-right-block">
<div class="pull-left image"><img class="__mce_add_custom__" title="instructor-image-4.jpg" src="http://spinning10.mybigcommerce.com/product_images/uploaded_images/instructor-image-4.jpg" alt="instructor-image-4.jpg" width="430" height="753" /></div>
<div class="pull-right content">
<h3>Spinning&reg; Program Instructor Network</h3>
<p>SPIN&reg; (Spinning Program Instructor Network) membership provides Certified Spinning Instructors with exclusive, members-only access to the resources they need to be successful instructors and industry leaders.</p>
<a href="#">Learn More</a></div>
</div>
</div>
</div>
