<div class="as-seen-in">
    <h2 class="section-header">As Seen In</h2>

    <div class="container">
        <ul class="list-inline">
            <li><img src="https://cdn6.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/hp-rolling-stone.png"></li>
            <li><img src="https://cdn6.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/hp-shape.png"></li>
            <li><img src="https://cdn6.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/hp-ny-times.png"></li>
            <li><img src="https://cdn6.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/hp-mens-health.png"></li>
            <li><img src="https://cdn6.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/hp-self.png"></li>
        </ul>
    </div>
</div>
