{{>
    components/common/tabbed-z-home

    title='Getting Started with Spinning<span class="reg"></span>'

    tabs=true

    tab_one='Find Your Bike'
    tab_one_id='find_your_bike'
    page_one_content='
    <h3>Home Bikes</h3>
    <p>Whether you’re new to Spinning® or you’re an experienced rider, we have the right home bike for you.</p>'
    page_one_link='/home-bikes'
    page_one_slider_one='assets/img/hometabs/getbike1.jpg'
    page_one_slider_two='assets/img/hometabs/getbike2.jpg'
    page_one_slider_three='assets/img/hometabs/getbike3.jpg'

    tab_two='Find Your Gear'
    tab_two_id='find_your_gear'
    page_two_content='
    <h3>Apparel</h3>
    <p>Feel as good as you look in our complete line of apparel, shoes and accessories designed specifically for the Spinning® program.</p>'
    page_two_link='/cycling-clothing'
    page_two_slider_one='assets/img/hometabs/findgear1.jpg'
    page_two_slider_two='assets/img/hometabs/findgear2.jpg'
    page_two_slider_three='assets/img/hometabs/findgear3.jpg'

    tab_three='Take a Class'
    tab_three_id='take_a_class'
    page_three_content='
    <h3>Take a Class</h3>
    <p>Looking for a new fitness challenge? Try a FREE Spinning® class near you.</p>'
    page_three_link='/find-a-class'
    page_three_link_text='Find a Class'
    page_three_slider_one='assets/img/hometabs/takeclass1.jpg'
    page_three_slider_two='assets/img/hometabs/takeclass2.jpg'
    page_three_slider_three='assets/img/hometabs/takeclass3.jpg'
}}
