<div class="our-fans">
    {{>
        components/common/tabbed-z

        title='What Our Fans Say'
        description='Your stories of transformation inspire us every day.'

        custom_slider_class='our-fans-slider'

        slider_one_image='https://cdn6.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/hp-girl-bike.jpg'
        slider_one_content='
        <div class="quote-box">
            <i class="quote-left">“</i>
            <comment>
                Spinning&reg; certification was a massive game-changer for me and my future with fitness. I feel so much more confident in my knowledge and abilities, and I’m excited about my future as an instructor. I cannot wait to sign up for more workshops and for the opportunity to learn more.
            </comment>

            <author>
                <name>
                   Lizzie Leyva
                </name>
                <!--
                <certification>
                    Certified Spinning<span class="reg"></span> Instructor Los Gatos, California
                </certification>-->
            </author>
            <i class="quote-right">”</i>
        </div>
        '

        slider_two_image='https://cdn6.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/hp-girl-bike.jpg'
        slider_two_content='
        <div class="quote-box">
            <i class="quote-left">“</i>
            <comment>
                As a Spinning® instructor for over 16 years, I’ve seen Spinning help many of my clients not only lose weight and gain a competitive advantage, but also rehabilitate from injuries.
            </comment>

            <author>
                <name>
                    Paula Liddiard
                </name>
                <certification>
                    Certified Spinning<span class="reg"></span> Instructor Los Gatos, California
                </certification>
            </author>
            <i class="quote-right">”</i>
        </div>
        '

        slider_three_image='https://cdn6.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/hp-girl-bike.jpg'
        slider_three_content='
        <div class="quote-box">
            <i class="quote-left">“</i>
            <comment>
                There is nothing better than seeing people achieve goals, gain confidence, have fun and over time transform themselves through the Spinning® program.
            </comment>

            <author>
                <name>
                    Ben Davies
                </name>
                <certification>
                    Spinning<span class="reg"></span> Master Instructor New Zealand
                </certification>
            </author>
            <i class="quote-right">”</i>
        </div>
        '
    }}
</div>
