<div class="shop-spinning">
	<h2 class="section-header">Shop Spinning<span class="reg"></span></h2>
	<p class="section-description">From bikes to apparel to education to accessories, we have anything you need to make great Spinning® classes even better.</p>
	<div class="container">
	    <div class="row" id="cyberMonday">
		    <!-- <div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/spin-bikes/">
					<div class="img-wrapper"><img src="https://cdn6.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/spintvr3.jpg" alt=""></div>
					<span class="category-title">Home Bikes Sale</span>
				</a>
			</div> -->
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/spin-bikes/">
					<div class="img-wrapper"><img src="https://cdn8.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/opt-home-page-bike.jpg?t=1522968982&_ga=2.111223940.1621932419.1522950896-1707078426.1520360892" alt=""></div>
					<span class="category-title">Spinner&reg; Bikes</span>
				</a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/cycling-clothing/womens/">
					<div class="img-wrapper"><img src="https://cdn8.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/opt-sp-homepage-womensproducttile-400x400.jpg" alt=""></div>
					<span class="category-title">Women's Apparel</span>
				</a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/cycling-clothing/mens/">
					<div class="img-wrapper"><img src="https://cdn8.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/opt-sp-homepage-mensproducttile-400x400.jpg" alt=""></div>
					<span class="category-title">Men's Apparel</span>
				</a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/cycling-shoes/">
					<div class="img-wrapper"><img src="https://cdn8.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/opt-hp-cycling-shoes.jpg?t=1522878624&_ga=2.108161922.1621932419.1522950896-1707078426.1520360892" alt=""></div>
					<span class="category-title">Cycling Shoes</span>
				</a>
			</div>
		</div>
		
		<!--
		<div class="row" id="regular" style="display:none;">
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/spin-bikes/">
					<div class="img-wrapper"><img src="https://cdn6.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/hp-rally-.jpg" alt=""></div>
					<span class="category-title">Spinner® Bikes</span>
				</a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/cycling-clothing/womens/">
					<div class="img-wrapper"><img src="https://cdn6.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/hp-womens-apparel-.jpg" alt=""></div>
					<span class="category-title">Women's Apparel</span>
				</a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/cycling-clothing/mens/">
					<div class="img-wrapper"><img src="https://cdn6.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/hp-mens-apparel-.jpg" alt=""></div>
					<span class="category-title">Men's Apparel</span>
				</a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/cycling-shoes">
					<div class="img-wrapper"><img src="https://maddogg-assets.s3.amazonaws.com/c33f96f1e90cf8bf393ee5b7e1a1453fbe959d7d74dd5c9d946938ae6b8da5df.jpg" alt=""></div>
					<span class="category-title">Cycling Shoes</span>
				</a>
			</div>
		</div> -->
		
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/fitness-trackers">
					<div class="img-wrapper"><img src="https://cdn8.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/opt-hp-hrmonitors.jpg" alt=""></div>
					<span class="category-title">HR Monitors & Computers</span>
				</a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/cycling-accessories-parts/">
					<div class="img-wrapper"><img src="https://cdn8.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/opt-hp-accessories.jpg" alt=""></div>
					<span class="category-title">Accessories</span>
				</a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/music-dvds/">
					<div class="img-wrapper"><img src="https://cdn8.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/opt-2-hp-dvdsmusic.jpg" alt=""></div>
					<span class="category-title">DVDs & Music</span>
				</a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="/training-equipment/">
					<div class="img-wrapper"><img src="https://cdn8.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/opt-hp-training-v2.jpg" alt=""></div>
					<span class="category-title">Training Equipment</span>
				</a>
			</div>
		</div>
	</div>
</div>
