{{>
    components/common/slider-with-feature

    title='Our Story'
    description='Twenty-five years after launching the global indoor cycling movement, we continue to lead the pack.'

    slider_1_image='https://cdn8.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/opt-hp-bikers.jpg'
    slider_1_title='Born from the Road'
    slider_1_description='The Spinning® program was founded by endurance road cyclists, and their desire to bring that authentic cycling experience indoors.'
    slider_1_link='/about-spinning'

    slider_2_image='https://cdn8.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/opt-hp-home-difference-slider-2.jpg'
    slider_2_title='A Truly Global Community '
    slider_2_description='Across 80 countries and 15 languages, we share one passion—the ride. The Spinning program has helped millions of people get into the best shape of their lives.'
    slider_2_link='/about-spinning'

    slider_3_image='https://cdn8.bigcommerce.com/s-yn8q9n4bvw/product_images/uploaded_images/opt-hp-home-difference-slide-3.jpg'
    slider_3_title='The Perfect Ride'
    slider_3_description='Nothing brings you closer to real cycling geometry and the feeling of riding in the peloton than Spinning®.'
    slider_3_link='/about-spinning'
}}
