.long-tabs {
  width: 100%;
  display: block;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 25px;
}

.long-tabs--wrapper {
  width: 100%;
  display: block;
}

.long-tabs--tab:not(:first-of-type) {
  margin-top: 4px;
}

.long-tabs--tab {
  border: 1px solid #eee;
  background: #f9f9f9 !important;
  width: 100% !important;
  cursor: pointer;
  padding: 7px 14px 7px 18px;

  .fa-times-circle-o {
    color: #ff4341;
    font-size: 22px;
    position: relative;
    top: 2px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    float: left;
  }

  span {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    padding-left: 10px;
  }

  &.is-active {
    border-left: 5px solid #ff4341 !important;
    padding: 7px 14px 7px 14px;

    .fa-times-circle-o {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
}

.long-tabs--content {
  display: none;
  background: #fff;
  width: 100%;
  padding: 15px 25px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #ff4341 !important;
    &.benefits-header {
      color: #333 !important;
      text-align: center;
    }
  }

  #warranty-benefits {
    > img.mobile-only {
      display: none;
    }
    @media (max-width: 767px) {
      > img {
        display: none;
      }
      > img.mobile-only {
        display: block;
      }
    }
    .col-md-3 {
      img {
        margin-bottom: 0.75rem;
      }
    }
    .title {
      font-size: remCalc(14px);
      font-weight: 600;
      display: block;
      margin-bottom: 0.25rem;
    }
    .details {
      font-size: remCalc(12px);
    }
  }

  &.is-active {
    display: block;
  }
}
