// =============================================================================
// BODY (CSS)
// =============================================================================

body {
    color: #333;
    margin-top: 82px;
}


img {
    -ms-interpolation-mode: bicubic !important;
}


.body {
    .breadcrumb {
        .breadcrumb-label {
            color: #333 !important;
        }
    }
}


.page {
    @include grid-row(
        $behavior: nest
    );
}

.page-content,
.page-content--full {
    @include grid-column(12);
}

.page-content--centered {

    @media (min-width: 992px) {
        //@include grid-column(
        //    $columns: 8,
        //    $center: true
        //);
    }

    &.Find.a.Class {
        .padded-content {
            /* padding: 0;
            max-width: none; */
            iframe {
                border: none;
            }
        }
    }

    .padded-content {
        padding: 50px 63px 110px;
        max-width: 1280px;
        margin: 0 auto;
        @media (max-width: 767px) {
            padding: 25px 30px 55px;
        }
        h1 {
            font-family: 'proxima-nova', sans-serif;
            font-size: 40px;
            line-height: 40px;
            color: #333333;
        }
        h2 {
            font-family: 'proxima-nova', sans-serif;
            font-size: 36px;
            line-height: 36px;
            color: #333333;
            margin-top: 0;
            margin-bottom: 21px;
        }
        h3 {
            font-family: 'proxima-nova', sans-serif;
            font-size: 32px;
            font-weight: 400;
            margin-top: 0;
            img {
                margin-right: 14px;
            }
        }
        p {
            font-size: 16px;
            line-height: 24px;
            color: #333333;
            &.light {
                font-weight: 300;
            }
        }
        ul {
            color: #333333;
            margin-left: 1.5rem;
            font-size: 16px;
        }
        .half-block {
            width: 50%;
            float: left;
        }
        .left-right-block {
            overflow: auto;
            margin-top: 63px;
            &.image-right {
                @media (max-width: 767px) {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
            &.image-left {
                @media (max-width: 767px) {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        .content {
            width: 60%;
            @media (max-width: 767px) {
                width: 100%;
            }
        }
        .image {
            width: 40%;
            @media (max-width: 767px) {
                width: 100%;
            }
            img {
                width: 100%;
            }
        }
        .pull-left {
            float: left;
            display: inline-block;
            &.content {
                padding-right: 126px;
                @media (max-width: 767px) {
                    padding-right: 0;
                }
            }
        }
        .pull-right {
            float: right;
            display: inline-block;
            &.content {
                padding-left: 126px;
                @media (max-width: 767px) {
                    padding-left: 0;
                }
                a:not(.btn) {
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #ff4341;
                }
            }
        }
        @media (max-width: 767px) {
            .half-block {
                width: 100%;
            }
        }
        #mc_embed_signup div.mce_inline_error {
            margin: -5px 0 1em 0;
            padding: 10px 10px 5px;
            border-radius: 0 0 5px 5px;
            background: #ff4341;
        }
        #mc_embed_signup_scroll {
            margin-left: -15px;
            margin-right: -15px;
            font-family: "proxima-nova", sans-serif;
            h3 {
                margin-bottom: 0;
            }
            .indicates-required {
                margin-bottom: 24px;
            }
            .mc-field-group {
                display: inline-block;
                width: 50%;
                float: left;
                padding-left: 15px;
                padding-right: 15px;
                margin-bottom: 24px;
                @media (max-width: 767px) {
                    width: 100%;
                }
                input {
                    width: 100%;
                    border-radius: 5px;
                    min-height: 40px;
                    border: 1px solid #d1d1d1;
                    padding: 0 16px;
                    transition: all 200ms ease;
                    &:focus {
                        border: 1px solid #ff4341;
                    }
                    &[type="checkbox"], &[type="radio"] {
                        width: auto;
                        margin-right: 8px;
                        & + label {
                            display: inline-block;
                        }
                    }
                }
                label {
                    text-align: left;
                }
                ul {
                    list-style-type: none;
                    margin-left: 0;
                    margin-top: 16px;
                    text-align: left;
                }
                .select2.select2-container.select2-container--default.select2-container--above {
                    min-height: 40px;
                }
                .select2-selection.select2-selection--single {
                    min-height: 40px;
                    border: 1px solid #d1d1d1;
                }
                .select2-container--default .select2-selection--single .select2-selection__arrow {
                    min-height: 38px;
                    width: 32px;
                }
                .select2-container--default .select2-selection--single .select2-selection__rendered {
                    line-height: 40px;
                }
                .select2-container .select2-selection--single .select2-selection__rendered {
                    padding-left: 16px;
                    text-align: left;
                }
            }
            .clear {
                display: block;
                clear: both;
            }
            #mc-embedded-subscribe {
                background: #ff4341;
                color: #fff !important;
                border: 1px solid #ff4341;
                width: auto;
                max-width: 191px;
                max-height: none;
                height: auto !important;
                padding: 12px 18px;
                text-align: center;
                display: block;
                box-sizing: border-box;
                text-transform: uppercase;
                line-height: normal;
                font-size: 16px !important;
                line-height: 15px;
                text-decoration: none !important;
                font-weight: 400;
                -webkit-transition: all .15s ease;
                -moz-transition: all .15s ease;
                transition: all .15s ease;
                margin: 0 auto;
                &:hover {
                    background: darken(#ff4341, 20%);
                    border-color: darken(#ff4341, 20%);
                    color: #fff;
                }
                &:active {
                    box-shadow: 0 0 0 5px lighten(#ff4341, 25%);
                }
                &:focus {
                    outline: -webkit-focus-ring-color auto 5px;
                }
            }
        }
    }
    #content-slider .warranty-benefits--slider {
        margin-left: 0;
        .warranty-benefits--slide-content {
            background-repeat: no-repeat;
            background-size: cover;
            overflow: auto;
            padding: 50px 63px 110px;
            h3 {
                color: #fff;
                font-size: 32px;
            }
            p {
                font-size: 16px;
                color: #fff;
                max-width: 450px;
            }
        }
    }
}

.page-content--textCenter {
    text-align: center;
}

.page-sidebar {
    @include grid-column(12);
    position: relative;

    @media (min-width: 992px) {
        @include grid-column(3);

        + .page-content {
            @include grid-column(9);
        }
    }
}

.refine-heading {
    border-radius: 8px 8px 0 0;
    width: 100%;
    text-align: center;
    background: #fd5b4f;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0 8px;
}

.refine-results {
    width: 100%;
    background: #f9f9f9;
    padding: 30px 24px;
    border-radius: 0 0 8px 8px;
    overflow: auto;
    input[type="text"] {
        width: 52%;
        height: 41px;
        border-radius: 4px;
        border: 1px solid #aaa;
        padding-left: 8px;
    }
    input[type="submit"] {
        width: 21%;
        height: 41px;
        max-width: none;
        max-height: none;
    }
    .disabled {
        background-color: #eee;
    }
    .select2-container, input {
        float: left;
        margin: 0 1%;
        height: 41px;
    }
    .select2-container--default .select2-selection--single {
        height: 41px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        height: 41px;
        line-height: 40px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 39px;
    }
    @media (max-width: 767px) {
        padding-left: 12px;
        input[type="text"] {
            width: 100%;
            margin-bottom: 16px;
        }
        input[type="submit"] {
            width: 100%;
        }
        .select2.select2-container.select2-container--default {
            width: 100% !important;
            margin-bottom: 16px;
        }
    }
}

.workshop-results ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px !important;
    margin-right: -20px;
    list-style-type: none;
    margin-top: 20px;
    li {
        width: 33.33%;
        padding: 20px;
        display: flex;
        @media (max-width: 1199px) {
            width: 50%;
        }
        @media (max-width: 767px) {
            width: 100%;
            padding: 0;
            margin-top: 32px;
        }
        .wrapper {
            padding: 27px;
            background: #f9f9f9;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            .workshop-title {
                font-size: 18px;
                font-weight: 500;
                line-height: 18px;
                margin-bottom: 8px;
            }
            .workshop-date-location-wrapper {
                margin-bottom: 12px;
                font-weight: 300;
                .workshop-city {
                    font-weight: 500;
                    padding-left: 12px;
                }
                .workshop-state {
                    font-weight: 500;
                }
            }
            .workshop-price {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 16px;
            }
        }
        img {
            max-width: 200px;
            margin-bottom: 27px;
        }
        a {
            width: 100%;
            max-width: none;
        }
    }
    @media (max-width: 767px) {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0;
    }
}

#product-listing-container > .container {
    width: 100%;
    max-width: none;
}

.workshop-detail {
    h1 {
        font-size: 40px;
        color: #333;
    }
    .training-heading {
        border-radius: 8px 8px 0 0;
        width: 100%;
        text-align: center;
        background: #fd5b4f;
        color: white;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 10px 0 8px;
    }
    .training-details {
        width: 100%;
        background: #f9f9f9;
        padding: 30px 36px;
        border-radius: 0 0 8px 8px;
        overflow: auto;
        display: flex;
        &.gray {
            background: #d1d1d1;
            color: #a9a9a9 !important;
            position: relative;
            pointer-events: none;
            .training-title, .address, .contact-info {
                color: #a9a9a9 !important;
            }
            &:after {
                content: 'Fully Booked';
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                color: #fff;
                font-size: 2.25rem;
                font-weight: 600;
                text-transform: uppercase;
                width: 100%;
                text-align: center;
            }
        }
        .location-block {
            width: 36%;
            .training-title {
                font-size: 32px;
                color: #333;
                display: block;
            }
            .address {
                display: block;
                width: 100%;
                padding: 0;
                font-weight: 300;
                span {
                    display: block;
                    font-size: 1rem;
                }
            }
            .date-formatted {
                font-size: 28px;
                display: block;
            }
            .time {
                display: block;
                font-weight: 300;
                font-size: 16px;
            }
            .contact-info {
                display: block;
                font-weight: 300;
                margin-top: 24px;
                margin-bottom: 0;
            }
        }
        .benefits-block {
            width: 32%;
            border-left: 1px solid #d1d1d1;
            padding-left: 30px;
            .benefits-heading {
                display: block;
                font-weight: 500;
                border-bottom: 1px solid #d1d1d1;
                padding-bottom: 4px;
                font-size: 16px;
            }
            .benefit {
                display: block;
                font-weight: 300;
                border-bottom: 1px solid #d1d1d1;
                padding-top: 4px;
                padding-bottom: 4px;
                font-size: 16px;
            }
        }
        .price-block {
            width: 32%;
            padding-left: 68px;
            .fee-title {
                font-size: 28px;
                display: block;
                line-height: 1.1;
            }
            .item {
                display: block;
                font-size: 16px;
                padding-top: 3px;
                line-height: 1.2;
                padding-bottom: 6px;
            }
            .price {
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 8px;
                display: block;
            }
        }
        @media (max-width: 767px) {
            flex-direction: column;
            .location-block {
                width: 100%;
                margin-bottom: 24px;
            }
            .benefits-block {
                width: 100%;
                margin-bottom: 24px;
            }
            .price-block {
                width: 100%;
                padding-left: 0;
            }
        }
    }
    .body-content {
        padding-top: 24px;
        margin-bottom: 110px;
        display: flex;
        .description {
            width: calc(100% - 350px);
            border-right: 1px solid #d1d1d1;
            padding-right: 50px;
        }
        .map {
            width: 350px;
            padding-left: 50px;
        }
        @media (max-width: 767px) {
            flex-direction: column-reverse;
            .map {
                width: 100%;
                padding-left: 0;
                margin-bottom: 24px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                justify-content: center;
            }
            .description {
                width: 100%;
                border-right: 0;
                padding-right: 0;
            }
        }
    }
    &.online {
        .training-details {
            flex-direction: column;
            .location-block {
                width: auto;
            }
            .benefits-block {
                display: none;
            }
            .price-block {
                width: auto;
                padding-left: 0;
            }
        }
        .body-content {
            .description {
                width: 100%;
                padding-right: 0;
                border-right: none;
            }
            .map {
                display: none;
            }
        }
    }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ff4341 !important;
}

p.no-results {
    margin-top: 72px;
    text-align: center;
}

#shop-spinning {
    .shop-spinning {
        .section-description {
            margin-bottom: 4rem;
        }
        .col-md-3 {
            margin-bottom: 2rem;
        }
        text-align: center;
        a {
            color: #333;
            .img-wrapper {
                margin-bottom: 1rem;
            }
            .category-title {
                font-size: 1.25rem;
            }
        }
        .row {
            display: flex;
            flex-wrap: wrap;
            &:before, &:after {
                display: none;
            }
        }
    }
}

.shop-promo-wrapper {
    background-color: #F9F9F9;
    border-bottom: 1px solid #d3d2d2;
}

.shop-promo {
    background-color: #f9f9f9;
    text-align: center;
    padding: remCalc(21px) remCalc(65px);
    position: relative;
    max-width: remCalc(600px);
    margin: 0 auto;
    .headline {
        font-size: remCalc(16px);
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 remCalc(5px);
        vertical-align: middle;
        @media (max-width: 767px) {
            display: block;
        }
    }
    .details {
        font-size: remCalc(12px);
        text-transform: uppercase;
        margin: 0 remCalc(5px);
        vertical-align: middle;
        line-height: remCalc(16px);
        @media (max-width: 767px) {
            display: block;
        }
    }
    .slick-prev {
        left: remCalc(32px);
        background: transparent;
        height: auto;
        margin-top: 0;
        transform: translateY(-50%);
        &:before {
            background-image: none;
            content: '\f104';
            color: #333333;
            font-family: 'FontAwesome';
            font-size: remCalc(32px);
            line-height: 1;
            vertical-align: middle;
            height: auto;
        }
    }
    .slick-next {
        right: remCalc(32px);
        background: transparent;
        height: auto;
        margin-top: 0;
        transform: translateY(-50%);
        &:before {
            background-image: none;
            content: '\f105';
            color: #333333;
            font-family: 'FontAwesome';
            font-size: remCalc(32px);
            line-height: 1;
            vertical-align: middle;
            height: auto;
        }
    }
}

.shop-spinning-page {
    position: relative;
    .content-wrapper {
        position: absolute;
        width: 80%;
        max-width: 31rem;
        bottom: remCalc(94px);
        left: remCalc(65px);
        word-break: hyphenate;
        hyphens: auto;
        .content-title {
            font-size: remCalc(42px);
            font-weight: 600;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        .content-description {
            color: #FFFFFF;
        }
        @media (max-width: 1024px) {
            bottom: remCalc(47px);
            .content-title {
                font-size: remCalc(32px);
            }
            .content-description {
                font-size: remCalc(14px);
            }
        }
        @media (max-width: 600px) {
            bottom: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .content-title {
                font-size: remCalc(20px);
                margin-top: 0;
                text-shadow: 0 0 10px rgba(0,0,0,0.75);
            }
            .content-description {
                font-size: remCalc(12px);
                text-shadow: 0 0 10px rgba(0,0,0,0.75);
                line-height: 1.25;
                margin-bottom: 0;
            }
        }
    }
}

.section.no-bottom-padding {
    padding-bottom: 0;
}

.section.slim-top-padding {
    padding-top: 0.5rem;
}

.spinner-bikes {
    padding-bottom: 4rem;
}

.choose-spinner-bike {
    .row {
        display: flex;
        flex-wrap: wrap;
        &:before, &:after {
            display: none;
        }
    }
    .img-wrapper a {
        display: block;
        position: relative;
        &:before {
            content: '';
            padding-top: 100%;
            display: block;
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .col-md-3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .bike-title {
        font-size: remCalc(18px);
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #333333;
        }
    }
    .tagline {
        font-size: remCalc(12px);
        font-weight: 700;
        margin-bottom: remCalc(8px);
    }
    ul {
        margin-bottom: 0.5rem;
        li {
            font-size: remCalc(12px);
        }
    }
    .price-range {
        font-size: remCalc(16px);
        font-weight: 600;
        margin-bottom: 1rem;
        display: block;
    }
    .btn {
        width: 100%;
        max-width: none;
        margin-top: auto;
    }
}

.categoryCarousel {
    padding-bottom: 0;
}


.Newsletter #mc_embed_signup {
    .mc-field-group {
        &:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(8) {
            /* display: none; */
        }
        &.input-group {
            width: 100%;
            text-align: left;
            strong {
                font-size: remCalc(16px);
            }
        }
        ul {
            li {
                display: flex;
                align-items: center;
                input {
                    flex-shrink: 0;
                }
                label {
                    padding-bottom: 0;
                }
                /* margin-bottom: 1rem; */
            }
        }
    }
}

.errorMessage, #ContentPlaceHolder1_cvLocation {
    text-align: center !important;
}

.page {
    .padded-content {
        @media (max-width: 767px) {
            .warranty-benefits--slide-content {
                padding: 0 !important;
            }
        }
    }
}

.category-body-lifestyle{
	.banner-overlay,.category-banner,.cta-container{
		display: none;
	}
	.category-above-the-fold{
		top: 0!important;
	}
	@media (min-width: 768px){
		.mobile-img{
			display: none;
		}	
		.category-banner{
			display: block;
		}
	}
}

.category-body-commercial{
	.banner-overlay,.category-banner,.cta-container,.content-wrapper,.above-the-fold{
		display: none;
	}
	.category-above-the-fold{
		top: 0!important;
    	.breadcrumbs{
    	    display: none;
    	}
	}
	@media (min-width: 768px){
		.mobile-img{
			display: none;
		}	
		.category-banner,.above-the-fold{
			display: block;
		}
    	.category-above-the-fold{
        	.breadcrumbs{
        	    display: block;
        	}
    	}
	}
}

.hslide-0, .hslide-1 {
    @media (min-width:801px){
        .heroCarousel-content{
            left: 4em;
            padding: 0;
            bottom: 1.5em;
            width: 40em;
            .heroCarousel-action{
                margin: 0;
            }
        }
    }
    @media (min-width:1024px){
        .heroCarousel-content{
        	left: 5em;
            bottom: 2.5em;
        }
        .heroCarousel-title{
            font-size: 32px;
        }
    }
    @media (min-width:1200px){
        .heroCarousel-content{
        	left: 6em;
            bottom: 2em;
        }
        .heroCarousel-title{
            font-size: 42px;
        }
    }
    @media (min-width:1366px){
        .heroCarousel-content{
            bottom: 3em;
        }
    }
    @media (min-width:1600px){
        .heroCarousel-content{
        	left: 9em;
            bottom: 5em;
        }
    }
}

.navBar--account{
    display: block;
}

/* Paypal Credit */
.page-cart{
    .page-heading{
        margin-bottom: 1rem;
    }
}
.paypal-credit-banner{
    position: relative;
    padding: 15px 0 30px;
    text-align: center;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    a{
        display: block;
    }
    .pc-banner-sm{
        display: none;
    }
    @media (max-width: 991px){
        .pc-banner-sm{
            display: block;
        }
        .pc-banner-lg{
            display: none;
        }
    }
}
.paypal-credit-zf{
    cursor: pointer;
}
#modal-financing{
    margin: 0;
    width: 300px;
    max-width: 100%;
    .modal-body{
        padding: 0;
    }
    .modal-close{
        right: 0;
        top: 0;
    }
}

.card-lbl{
    &.lbl-outofstock{
        background: #989898!important;
        border-color: #989898!important;
        &:active{
            box-shadow: 0 0 0 5px #e0e0e0!important;
        }
    }
}
