{{>
    components/common/tabbed-z

    title='Find the Right Gear for You'

    tabs=true

    tab_one='Cycling Jerseys & Tops'
    page_one_content='
    <h3>Jerseys &amp; Tops Headline</h3>
    <ul class="tabbed-z--ignore">
        <li>Lorem ipsum dolor</li>
        <li>Sit amet consectetur adipiscing elit</li>
        <li>aenean eulsmod</li>
    </ul>'
    page_one_link='#'
    page_one_link_text="Shop Men's"
    page_one_link_two='#'
    page_one_link_two_text="Shop Women's"
    page_one_slider_one='assets/img/machines/home-slider-bike.png'
    page_one_slider_two='assets/img/machines/home-slider-bike.png'
    page_one_slider_three='assets/img/machines/home-slider-bike.png'

    tab_two='Cycling Shorts &amp; Bottoms'
    page_two_content='
    <h3>Jerseys &amp; Tops Headline</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque cumque facere numquam? Beatae, reiciendis.</p>'
    page_two_link='#'
    page_two_link_two='#'
    page_two_slider_one='assets/img/machines/home-slider-bike.png'
    page_two_slider_two='assets/img/machines/home-slider-bike.png'
    page_two_slider_three='assets/img/machines/home-slider-bike.png'

    tab_three='Casual Wear'
    page_three_content='
    <h3>Performance Series</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque cumque facere numquam? Beatae, reiciendis.</p>'
    page_three_link='#'
    page_three_link_two='#'
    page_three_slider_one='assets/img/machines/home-slider-bike.png'
    page_three_slider_two='assets/img/machines/home-slider-bike.png'
    page_three_slider_three='assets/img/machines/home-slider-bike.png'
}}
