// =============================================================================
// LOGIN (CSS)
// =============================================================================

.login {
    margin: 25px auto;
    max-width: 900px;

    .page-heading {
        margin-bottom: 25px;
    }
}

.login-row {
    @include grid-row();
}

.login-form {
    @include grid-column(12);

    @include breakpoint("medium") {
        @include grid-column(6);

        margin-top: spacing("double");
    }

    .form-actions {
        text-align: left;
    }
}

.new-customer {
    .panel {
        border-radius: 5px;
        border: 1px solid #e5e5e5;
    }
    .panel-header,
    .panel-body {
        background: #fff;
    }

    @include grid-column(12);
    @include breakpoint("medium") {
        @include grid-column(6);
    }
}

.new-customer-intro {
    margin-bottom: 0;
}

.new-customer-fact-list {
    margin-left: spacing("double");
}

.new-customer-fact {
    padding-left: spacing("half");
}
