@font-face {
  font-family: "Proxima-Nova-ScOsf-Ext-Cond-Sb";
  src: url('../fonts/ProximaNovaSExCn-Semibold.eot');
  src: url('../fonts/ProximaNovaSExCn-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNovaSExCn-Semibold.woff') format('woff'),
  url('../fonts/ProximaNovaSExCn-Semibold.ttf') format('truetype'),
  url('../fonts/ProximaNovaSExCn-Semibold.svg#ProximaNovaSExCn-Semibold') format('svg');
  font-style: normal;
}

@font-face {
  font-family: "Proxima-Nova-Sb";
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Semibold.woff') format('woff'),
  url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
  url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-style: normal;
}

@font-face {
  font-family: "Proxima-Nova-Thin";
  src: url('../fonts/ProximaNovaT-Thin.eot');
  src: url('../fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNovaT-Thin.woff') format('woff'),
  url('../fonts/ProximaNovaT-Thin.ttf') format('truetype'),
  url('../fonts/ProximaNovaT-Thin.svg#ProximaNovaT-Thin') format('svg');
  font-style: normal;
}

@font-face {
  font-family: "Proxima-Nova-Alt-Extra-Condensed-Regular";
  src: url('../fonts/ProximaNovaAExCn-Regular.eot');
  src: url('../fonts/ProximaNovaAExCn-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNovaAExCn-Regular.woff') format('woff'),
  url('../fonts/ProximaNovaAExCn-Regular.ttf') format('truetype'),
  url('../fonts/ProximaNovaAExCn-Regular.svg#ProximaNovaAExCn-Regular') format('svg');
  font-style: normal;
}
